# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#

*.o
*.a
*.so
*.ini
*.pprof
*.out
.*~
*~

*.sublime-project
*.sublime-workspace
.vscode


jsclockcal.js
jsclockcal.js.gz
jsclockcal.js.map

